
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nilesh Pandey</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Bio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="main">
    <%= image_tag 'N.jpg', :id => 'n-picture' %>
    <div class="social-icon-container">
      <a href="http://www.linkedin.com/in/nileshpandey.com"><div class="linkedin-roll social-roll"></div></a>
      <a href="http://www.twitter.com/nilesh_pandey"><div class="twitter-roll social-roll"></div></a>
      <a href="http://www.facebook.com/nilesh.pandey"><div class="facebook-roll social-roll"></div></a>
    </div>
  </div>
</div>