<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Nilesh Pandey</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="main">
    <%= image_tag 'N.jpg', :id => 'n-picture' %>
    <div class="social-icon-container">
      <a href="http://www.linkedin.com/in/nileshpandey"><div class="linkedin-roll social-roll"><div class="linkedin"></div></div></a>
      <a href="http://www.twitter.com/nilesh_pandey"><div class="twitter-roll social-roll"><div class="twitter"></div></div></a>
      <a href="http://www.facebook.com/nilesh.pandey"><div class="facebook-roll social-roll"><div class="facebook"></div></div></a>
    </div>
  </div>
</div>